asgiref==3.2.10
cffi==1.14.3
cryptography==3.1.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.2
django-heroku==0.3.1
django-cors-headers==3.5.0
django-filter==2.4.0
django-rest-knox==4.1.0
django-templated-mail==1.1.1
djangorestframework==3.12.1
djoser==2.0.5
pycparser==2.20
python-decouple==3.4
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
static3==0.7.0
gunicorn
